section.project-custom-fields
    div.custom-fields-header
        div.custom-fields-row
            div.custom-fields-name
                span Name
            div.custom-fields-description
                span Value
            div.custom-fields-options

    div.custom-fields-body
        div.custom-fields-row.row
            span.icon.icon-drag-v
            div.custom-fields-name
                span Name
            div.custom-fields-description
                span Value
            div.custom-fields-options
                a.save.icon.icon-floppy(href="", title="Save changes")
                a.cancel.icon.icon-delete(href="", title="Cancel")

