//- See $confirm.loader to undestan this template

section
    div.spin.hidden
        img(src="/svg/spinner-circle.svg", alt="loading...")

    div.progress.hidden
        div.bar
        span

    h2.title
    p.message
