.admin-project-export {
    margin-top: 2rem;
}

.admin-project-export-synchronous,
.admin-project-export-asynchronous {
    margin-top: 1rem;
    .spin {
        margin: 0 auto;
        width: 2.5rem;
        img {
            animation: rotate 1.5s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
            transform-origin: 32 32;
            width: 100%;
        }
    }
    h3 {
        @extend %bold;
        @extend %large;
        background: $whitish;
        color: $gray;
        margin: .5rem;
        text-align: center;
        padding: .5rem;
    }
    p {
        color: $gray-light;
        margin: .5rem 0;
        text-align: center;
    }
}


